/* Mobile-first styles */
.dahsboard {
  display: flex;
  flex: 1;
  flex-direction: column;
  position: relative;
}

.side {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: green;
  z-index: 10;
}

.side.visible {
  display: block;
}

.main {
  display: flex;
  flex-grow: 1;
  background-color: #ffffff;
  padding: 16px;
}

/* Larger screens */
@media (min-width: 768px) {
  .side {
    display: block;
    width: 30%;
    max-width: 300px;
  }

  .main {
    background-color: red;
  }
}
