.main-footer {
  background-color: #3eebb4;
  color: #170a47;
  padding: 1rem;
  text-align: center;
}

.main-footer p {
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
}

.main-footer p:last-child {
  margin-bottom: 0;
}
